<%- model_class = Registro -%>
<div class="container">
  <div class="page-header">
    <ul class="list-inline pull-right">
      <li><%= link_to t('.new', :default => t("helpers.links.new")),
            new_registro_path,
            :class => 'btn btn-primary' %></li>
      <li class="btn btn-default">Dummy</li>
    </ul>
    <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
  </div>
</div><!-- End of header container -->

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:apellido) %></th>
      <th><%= model_class.human_attribute_name(:puesto) %></th>
      <th><%= model_class.human_attribute_name(:materia) %></th>
      <th><%= model_class.human_attribute_name(:centro) %></th>
      <th><%= model_class.human_attribute_name(:pueblo) %></th>
      <th><%= model_class.human_attribute_name(:nivel) %></th>
      <th><%= model_class.human_attribute_name(:sec) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:comentario) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= link_to registro.id, registro_path(registro) %></td>
        <td><%= registro.nombre %></td>
        <td><%= registro.apellido %></td>
        <td><%= registro.puesto %></td>
        <td><%= registro.materia %></td>
        <td><%= registro.centro %></td>
        <td><%= registro.pueblo %></td>
        <td><%= registro.nivel %></td>
        <td><%= registro.sec %></td>
        <td><%= registro.email %></td>
        <td><%= registro.telefono %></td>
        <td><%= registro.comentario %></td>
        <td><%= registro.user_id %></td>
        <td><%=l registro.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_registro_path(registro), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      registro_path(registro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div align="center">
  <%= will_paginate %>
</div>
